/** @format */

.adminContainer {
	width: 100%;
	min-height: 43.2rem;
	height: auto;
	background-color: var(--lightGrey);
    font-family: "Poppins", sans-serif;

}

.adminContainer h2 {
	margin: 2rem 3rem;
}

.adminCreateBlock {
    background-color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.adminSearchBlock {
    background-color: white;
    margin: 2rem 3rem;
    padding: 2rem;
    border-radius: 2rem;
}

