/** @format */

.container {
	background-color: var(--base);
	height: 92vh;
	color: var(--color8);
}

.buttonsContainer {
	display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.typeButtonContainer {
	font-weight: bold;
    text-align: center;
	color: #1f2833;
	display: flex;
	justify-content: space-around;
	width: 50vw;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
}

.typeButton,
.typeButtonActive {
	width: 30%;
	padding: 1rem;
	cursor: pointer;
    border-radius: 1rem;
}

.typeButton {
	background-color: var(--color3);
}

.typeButtonActive {
	background-color: var(--emphasise);
}

.container h1 {
	text-align: center;
}

.chartContainer {
	display: flex;
    justify-content: center;
}

.chartBox {
	width: 80vw;
	height: 70vh;
	background-color: white;
	margin-left: 2vw;
	margin-right: 2vw;
}
