/** @format */

.analyseContainer {
	width: 100%;
	min-height: 43.2rem;
	height: auto;
	background-color: var(--lightGrey);
}

.analyseDateContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	padding-top: 3rem;
}

.analyseDateContainer h1 {
	margin: 0;
}

.analyseToggleButtonsContainer {
	display: flex;
	justify-content: space-between;
	margin: 2rem 3rem;
}

.analyseChartsContainer {
	margin: 2rem 3rem;
	width: 100%;
	display: flex;
}

.analyseChartColumn {
	width: 50%;
}

.analyseChartColumn h2 {
	font-family: "Poppins", sans-serif;
	margin: 0;
}
