/** @format */

.dashboardContainer {
	width: 100%;
	min-height: 41.2rem;
	height: auto;
	background-color: var(--lightGrey);
	padding-bottom: 5rem;
}

.dashboardDateContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	padding-top: 3rem;
}

.dashboardDateContainer h1 {
	margin: 0;
}

.dashBoardToggleButtonsContainer {
	display: flex;
	justify-content: space-between;
	margin: 2rem 3rem;
}

.dashboardChartHeader {
	margin: 0;
	font-family: "Poppins", sans-serif;
	margin: 2rem 3rem;
	padding: 1rem 0;
}
