/** @format */

.container {
	background-color: var(--color9);
	height: 100vh;
	width: 100vw;
	padding: 2vh 0;
}

.title {
	font-family: "League Spartan", sans-serif;
	color: var(--base);
	text-align: center;
	font-size: 6rem;
}

.box {
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem;
	background-color: var(--base);
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
}

.box h2 {
	font-size: 4rem;
	text-align: center;
	color: var(--contrast);
}

.textField {
	margin: 0.5rem auto;
}

.button {
	margin: 2rem auto;
}

.toggleLink {
	cursor: pointer;
}

.toggleLink:hover {
	color: var(--color3);
}
