/** @format */

.container {
	background-color: var(--base);
	width: 100vw;
	height: 100vh;
}

.container h2 {
	font-family: "Poppins", sans-serif;
	text-align: center;
	margin: 0;
	padding-top: 25vh;
	font-size: 5rem;
	color: var(--pink);
	text-transform: uppercase;
}
