/** @format */

.container {
	min-height: 92vh;
	width: 100%;
	padding: 2vh 3vh 0;
	background-color: var(--base);
	color: var(--color8);
}

.itemBox {
	padding: 2vh 3vh 4vh;
}

.headerBox {
	display: flex;
}

.categoriesList {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.typeContainer {
	background-color: white;
	padding: 2vh 3vh 4vh;
}

.thisIsEmpty {
	color: var(--contrast);
	text-align: center;
}

.logOutLink {
	color: var(--contrast);
	cursor: pointer;
}

.logOutLink:hover {
	color: var(--emphasise);
}
