/** @format */

.settingsContainer {
	width: 100%;
	min-height: 41.2rem;
	height: auto;
	background-color: var(--lightGrey);
}

.settingsCategoriesHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2rem 3rem;
	font-family: "Poppins", sans-serif;
}

.thisIsEmpty {
	color: var(--contrast);
	text-align: center;
}

.settingsCategoriesContainer {
	width: 100%;
	min-height: 30rem;
	padding: 3rem 4rem;
	display: flex;
	justify-content: space-between;
}

.settingsCategoriesColumn {
	background-color: var(--base);
	width: 40rem;
	padding: 1rem 4rem;
	border-radius: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
}

.header h2 {
	font-family: "Poppins", sans-serif;
}
