/** @format */

.welcomeBackground {
	background-color: var(--lightGrey);
	height: 100vh;
	width: 100vw;
	padding: 2vh 0;
}

.welcomeTitle {
	font-family: "Poppins", sans-serif;
	color: var(--purple);
	text-align: center;
	font-size: 6rem;
}

.welcomeContainer {
	display: flex;
	flex-direction: column;
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem;
	background-color: white;
	border-radius: 1rem;
}

.welcomeHeadline {
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	color: black;
	text-align: center;
}
