/** @format */

.welcomeBackground {
	background-color: var(--lightGrey);
	height: 100vh;
	width: 100vw;
	padding: 2vh 0;
}

.welcomeTitle {
	font-family: 'Poppins', sans-serif;
	color: var(--purple);
	text-align: center;
	font-size: 6rem;
}

.box h2 {
	font-size: 4rem;
	text-align: center;
	color: var(--contrast);
}

.textField {
	margin: 0.5rem auto;
}

.textFieldErrorMsgInactive {
	display: none;
}

.textFieldErrorMsg {
    display: flex;
	width: 25vw;
	margin: 0.5rem auto;
	padding: 0 1rem;
	background-color: var(--emphasise);
	border-radius: 1rem;
}

.button {
	margin: 2rem auto;
}

.toggleLink {
	cursor: pointer;
}

.toggleLink:hover {
	color: var(--color3);
}
