/** @format */

.rowContainer {
	height: 6rem;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Poppins", sans-serif;
}

.rowContainer img {
	width: 3rem;
}

.rowInfo {
	width: 15rem;
	margin-left: 1rem;
}

.rowInfo h3,
.rowInfo p {
	margin: 0;
}

.rowAmount {
	width: 10rem;
	text-align: right;
	margin-right: 1rem;
}
