/** @format */

.container {
	background-color: var(--base);
	height: 40vh;
}
.dashboard {
	margin-left: auto;
	margin-right: auto;
	padding: 6vh 0;
	width: 40vw;
    height: 38vh;
	display: flex;
}

.dashboardHeader {
	color: var(--color5);
	background-color: var(--base);
	width: 35vw;
	padding: 1rem 4rem;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid var(--color5);
	border-radius: 1rem;
}

.dashboardInfo {
	display: flex;
	align-items: flex-end;
	height: 15vh;
	width: 100%;
}
