/** @format */

.rowContainer {
	height: 5rem;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Poppins", sans-serif;
}

.rowContainer img {
	width: 3rem;
}

.rowContainer h3 {
	width: 15rem;
	margin-left: 1rem;
	margin: 0;
}
