/** @format */

.container {
	min-height: 4rem;
	margin: 1rem 3rem;
}

.header {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.headerDate h2, .headerDate hr {
    display: inline-block;
}

.headerDate h2 {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.headerDate hr {
	width: 60rem;
	height: 2px;
	background-color: var(--contrast);
    margin-left: 2rem;
}

.header h2 {
	margin: 0;
	font-family: "Poppins", sans-serif;
}

.rowContainer {
	background-color: var(--base);
	height: 6rem;
	width: 40rem;
	margin: 1rem auto;
	padding: 1rem 3rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: "Poppins", sans-serif;
}

.rowContainer img {
	width: 3rem;
}

.rowInfo {
	width: 15rem;
	margin-left: 2rem;
}

.rowInfo h3,
.rowInfo p {
	margin: 0;
}

.rowAmount {
	width: 10rem;
	text-align: right;
	margin-right: 1rem;
}
