/** @format */

.container {
	background-color: var(--base);
	height: 35vh;
}
.dashboard {
	margin-left: auto;
	margin-right: auto;
	padding: 4vh 0;
	width: 50vw;
	height: 35vh;
	display: flex;
}

.dashboardHeader {
	color: var(--base);
	background-color: var(--color5);
	border-radius: 0.8rem;
	width: 55vw;
	padding: 1rem 4rem;
	margin-left: auto;
	margin-right: auto;
}

.dateHeader {
	font-size: 2.2rem;
    margin: 1rem auto;
}

.dashboardInfo {
	display: flex;
	justify-content: space-between;
}

.dashboardInfoColumn {
	width: 40%;
}
