/** @format */

.loginRegistrationBoxContainer {
	display: flex;
	flex-direction: column;
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem;
	background-color: white;
	border-radius: 1rem;
}

.loginRegistrationBoxHeadline {
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	color: black;
	text-align: center;
}

.loginRegistrationBoxHeader {
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 80%;
    margin-left: auto;
	margin-right: auto;
    font-family: "Poppins", sans-serif;
}

.loginRegistrationBoxHeaderText {
    font-weight: bold;
    font-size: 1.8rem;
}

.loginRegistrationBoxBackButton {
    color: var(--purple);
}

.loginRegistrationBoxButton {
	display: block;
	width: 80%;
	background-color: var(--purple);
	border: none;
	border-radius: 1rem;
	margin: 1.5rem auto;
	padding: 1rem;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	color: white;
}
