/** @format */

.navbarContainer,
.navbarPageLinksContainer {
	width: 20%;
	position: fixed;
	overflow: auto;
}

.navbarContainer {
	height: 100%;
	background-color: var(--purple);
}

.navbarTitle {
	font-family: "Poppins", sans-serif;
	color: var(--base);
	margin: 0 2rem;
	padding-top: 2rem;
}

.navbarPageLinksContainer,
.navbarOtherLinksContainer {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}

.navbarPageLink {
	margin: 0.5rem 2rem;
}

.navbarPageLink a {
	text-decoration: none;
}

.pageTitle,
.pageTitleActive {
	margin: 0;
	cursor: pointer;
	font-size: 1.5rem;
}

.pageTitle {
	color: var(--contrast);
}

.pageTitle:hover,
.pageTitleActive {
	color: var(--base);
}
