/** @format */

.container,
.pageLinkContainer {
	height: 8vh;
}

.container {
	background-color: var(--color10);
	display: flex;
	justify-content: space-between;
}

.title {
	font-family: "League Spartan", sans-serif;
	color: var(--base);
	margin: auto 3rem;
}

.username {
	color: var(--base);
	margin: auto 1rem;
	text-align: left;
}

.pageLinkContainer {
	display: flex;
	justify-content: space-around;
}

.pageLink {
	margin: auto 1rem;
}

.pageLink a {
	text-decoration: none;
}

.pageTitle,
.pageTitleActive {
	color: var(--base);
	height: 100%;
	margin: auto 1rem;
	cursor: pointer;
}

.pageTitle {
	color: var(--base);
}

.pageTitle:hover,
.pageTitleActive {
	color: var(--emphasise);
}
